*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    background: #ff70a6;

}
header{
    background-color: #ffd670;
    padding: 20px 0 ;
}
section{
    padding: 60px 0px;
}
footer{
    background-color: #ffd670;
    text-align: center;
    padding:  40px 0;
}
a:link{
    text-transform: uppercase;
    text-decoration: none;
    color:#ff9770;
}
a:hover{
    color:#ff70a6;
}
h1{
    padding-bottom: 25px;
    color: rgb(204, 87, 179);
}
/* class e ids*/
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    gap: 20px;
}
.navbar>li{
    list-style: none;
}
.conteiner{
    max-width: 1100px;
    
    margin: 0 auto;
}
#about{
    display: flex;
    gap:20px;
}
#about-image{
    width: 400px;
}
#contact{
    display: flex;
    gap: 20px;
}