*{
    width: auto 0;
    height: auto 0;
    font-family: 'Oswald', sans-serif;
}
body{
    background-image: url(store.jpg);
    background-size: 2000px 1100px;
     color: whitesmoke
}
image{

}
link{
    color: white;
}
a:link{
    color: white;
}
table{
    width: 1100px;
    height: 100px;
}
button{
    border-radius: 20px;
    color: rgb(2, 2, 2);
}
button:hover{
    transform:scale(1.2);
    transition-delay: 0.2s;
    
}
footer{
    align-items: center;
}
form{
    display: flex;
}
section{
    padding: 20px ;
}
/* ids & class*/
.footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 36, 36);
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
}
.footer>ul{
display: flex;
}
.footer>ul>li{
padding: 20px;
list-style: none;
}

#bt1:hover{
    background-color: rgb(251, 255, 1);
    
}
#bt2:hover{
    background-color: rgb(255, 5, 5);
}
#table{
    align-items: center;
    display: flex;
}
#inserir{
    display: flex;
    justify-content: space-between;

}
#goot{
    display: flex;
    justify-content: space-between;
}